body{
    background-image: url(imaginen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    color: white;
}


h2{
    text-align: center;
    color: white;
}